#conteudo {
    background: #dcdcdc;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.item {
    width: 150px;
    height: 150px;
    background: white;
    border: 1px solid gray;
    margin: 10px;
}